{% extends 'searchengine/index.html' %}

{% block pagename %}
  <title>Cookery{% if query %} - {{ query }}{% endif %}</title>
{% endblock %}

{% block content %}
  <div class="container search-container">
    <a href="/">
      <img class="app-name" src="/static/img/logo.png" width="190" height="60" />
    </a>
    <form action="/search" method="get">
      <input id="q" name="q" type="text" value="{{ query }}" placeholder="Enter ingredients separated by commas (e.g. 'celery, onions')">
      <button type="submit" class="btn btn-default">Search</button>
    </form>
  </div>
  <div id="results" class="{% if not results %}no-result no-result-image-{{ random_number }}{% endif %}">
    {% if results %}
      <div id="result-stats">Retrieved {{ recipe_count }} recipes ({{ time }} seconds).</div>
      <ul class="list-unstyled">
        {% for recipe in recipes %}
          {% if recipe.image_url %}
            <li class="result has-image">
              <div class="recipe image">
                <a href="{{ recipe.source_url }}">
                  <img src="{{ recipe.image_url }}" width="120" height="120">
                </a>
              </div>
              <div class="recipe-details">
                <p class="recipe-title h4">
                  <a href="{{ recipe.source_url }}">{{ recipe.name }}</a>
                </p>
                <p class="recipe-url">{{ recipe.source_url }}</p>
                {% if recipe.description %}
                  <p class="recipe-description">{{ recipe.description }}</p>
                {% else %}
                  <p class="recipe-description no-description">
                    <i>No description available for this recipe.</i>
                  </p>
                {% endif %}
              </div>
            </li>
          {% else %}
            <li class="result no-image">
              <div class="recipe image">
                <a href="{{ recipe.source_url }}">
                  <img src="/static/img/no-recipe-image.jpg" width="120" height="120">
                </a>
              </div>
              <div class="recipe-details">
                <p class="recipe-title h4">
                  <a href="{{ recipe.source_url }}">{{ recipe.name }}</a>
                </p>
                <p class="recipe-url">{{ recipe.source_url }}</p>
                {% if recipe.description %}
                  <p class="recipe-description">{{ recipe.description }}</p>
                {% else %}
                  <p class="recipe-description no-description">
                    <i>No description available for this recipe.</i>
                  </p>
                {% endif %}
              </div>
            </li>
          {% endif %}
        {% endfor %}
        <li class="result">
          <div class="page-nav">
            <div class="logo-c logo-nav"></div>
            {% for page in pages %}
              <a href="{{ base_url }}&pg={{ page }}">
                <span class="page-select logo-nav{% if page == current_page %} active{% endif %}">{{ page }}</span>
              </a>
            {% endfor %}
            {% if only_page %}
              <span class="page-select logo-nav inactive"></span>
            {% endif %}
            <div class="logo-kery logo-nav"></div>
          </div>
        </li>
      </ul>
    {% else %}
      <div id="no-result-message">
        <p>Sorry, no recipes found{% if query %} for “{{ query }}”{% endif %}.</p>
      </div>
    {% endif %}
  </div>
{% endblock %}
